@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Lato:300,400,700);
@import 'compass/typography/vertical_rhythm';
@import 'compass/layout/grid-background';

$base-font-size:16px;
$base-line-height:24px;
$rhythm-unit:'rem';

$base-font-family: 'Lato', Verdana,Geneva,sans-serif;
$base-font-weight:400;
$base-font-color:$white;

$heading-font-family: 'Roboto Slab', Georgia, Times, "Times New Roman", serif;

$tiny-font-size: 9px;
$tiny-font-leading: 2.6667;
$small-font-size: 12px;
$small-font-leading: 2;
$base-font-size: 16px;
$base-font-leading: 1;
$medium-font-size: 30px;
$medium-font-leading: 1.2632;
$large-font-size: 35px;
$large-font-leading: 1;
$xlarge-font-size: 88px;
$xlarge-font-leading: 0.65;

%headings {font-family:$heading-font-family;
            text-transform:uppercase;}
%animation{@include transition(ease-out 0.25s);}

@mixin typeSize($size) {
 @if $size == "tiny" {
  @include adjust-font-size-to($tiny-font-size);
  @include adjust-leading-to($tiny-font-leading);
 }
 @if $size == "small" {
  @include adjust-font-size-to($small-font-size);
  @include adjust-leading-to($small-font-leading);
 }
 @if $size == "base" {
  @include adjust-font-size-to($base-font-size);
  @include adjust-leading-to($base-font-leading);
 }
 @if $size == "medium" {
  @include adjust-font-size-to($medium-font-size);
  @include adjust-leading-to($medium-font-leading);
 }
 @if $size == "large" {
  @include adjust-font-size-to($large-font-size);
  @include adjust-leading-to($large-font-leading);
 }
 @if $size == "xlarge" {
  @include adjust-font-size-to($xlarge-font-size);
  @include adjust-leading-to($xlarge-font-leading);
 }
}

// Type weights
%t-ultrastrong {
 font-weight: 900;
}
%t-strong {
 font-weight: 700;
}
%t-regular {
 font-weight: 400;
}
%t-light {
 font-weight: 300;
}
%t-ultralight {
 font-weight: 200;
}

// Type size variants

%t-tiny {
 @include typeSize(tiny);
}
%t-small {
 @include typeSize(small);
}
%t-base {
 @include typeSize(base);
}
%t-medium {
 @include typeSize(medium);
}
%t-large {
 @include typeSize(large);
}
%t-xlarge {
 @include typeSize(xlarge);
}
.t-tiny {
 @include typeSize(tiny);
}
.t-small {
 @include typeSize(small);
}
.t-base {
 @include typeSize(base);
}
.t-medium {
 @include typeSize(medium);
}
.t-large {
 @include typeSize(large);
}
.t-xlarge {
 @include typeSize(xlarge);
}

// Type — headings

#{headings(4)} {
 margin: 0;
}
h1 {
  margin-top:0.2em;
 color:$white;
@extend %headings;
@extend %t-xlarge;
@extend %t-strong;
}
h2 {
 color:$orange;
 font-family:$base-font-family;
 text-transform:uppercase;
 margin-bottom:rhythm(0.74);
  @extend %t-large;
}
h3 {
 @extend %t-medium;
 @extend %headings;
 @extend %t-strong;
}
h4 {
 @extend %t-base;
 @extend %headings;
 }

 p {color:$white;
   margin:0 auto rhythm(1) auto;
   max-width:36em;
  font-family:$base-font-family;

  @extend %t-base;
  @extend %t-light;

      strong {@extend %t-strong;}
  }

  a.social, .contact_link a, .menu a{@extend %t-medium;
     span {display:none;}
          }
header a, .menuscreen a{color:lighten($black, 30%);
          @extend %animation;
          &:hover{color:lighten($black, 60%);
            @extend %animation;}
          }
.menuscreen a {@extend %headings;
               display:block;
              position:relative;
              @extend %t-medium;
              text-align:center;
               margin-bottom:rhythm(1);
              text-decoration:none;}
    section{

      &.intro {text-align:center;}

        .button {display:block;
          padding:1.5em;
          text-decoration:none;
          margin:rhythm(1);
          clear:both;
          width:200px;
          margin:rhythm(1) auto rhythm(1) auto;
          @extend %headings;
        @include border-radius(10px);}
        .illustration, &.intro {
         h3 {color:$white;}
       }
       .design, &.intro {
        a.social, .button {color:$orange;
        &:hover {color:lighten($orange, 10%);
        }
      }
        .button {
                 border:3px solid $orange;
                 @extend %animation;
                 &:hover {
                 border:3px solid lighten($orange, 10%);
              }
                 }
               }
       .illustration {
         a.social, .button {color:$green;
         &:hover {color:darken($green, 10%);
         }
       }
        .button {
                border:3px solid $green;
                @extend %animation;
                &:hover {border:3px solid darken($green, 10%);}
                }
              }
            }
