/*Colour maps*/
// -------------------------------------------------- */
@function colour($colourname: charcoal, $tone:500) {
  $colours: (
 yellow:(
100: #FEF8E7,
200: #FEF0D0,
300: #FEE5B8,
400: #FEDBA7,
500: #FECA8A,
600: #DAA064,
700: #B67945,
800: #93562C,
900: #793D1A,
     ),
       orange:(
      100: #e56f04, 
      200:#bb5506,
      300: #a54b05,
      400: #934305,
      500: #853c04,
      600: #6c3103,
      700: #622d03,
      800: #582803,
      900: #582803,
      ),
       teal:(
        100: #469e8f,
        200: #3c7d80,
        300: #3d6c7d,
        400: #3d5d7b,
        500: #3e5079,
        600: #334163,
        700: #2e3b59,
        800: #293551,
        900: #293551,
    ),
         blue:(
             100: #7d91bb, 
             200: #5972a9,
             300: #4e6596,
             400: #465a86,
             500: #3f5078,
             600: #334262,
             700: #2e3b59,
             800: #2a3550,
             900: #2a3550,
    ),
       violet:(
           100: #c07d97, 
           200:#ae5678, 
           300: #9b4b6a,
           400: #8a435f,
           500: #7d3c55,
           600: #653145,
           700: #5b2c3f,
           800: #532839,
           900: #532839,
    ),
     charcoal:(
         100: #948f94,
         200: #787177,
         300: #6a6369,
         400: #60585f,
         500: #574e56,
         600: #484047,
         700: #413941,
         800: #3b343a,
         900: #3b343a,
    ),
  );

  //2. Grab colour and its tone value from map
  @if ($tone != null) {
    $colour: map-get(map-get($colours, $colourname), $tone);
    @return $colour;
  } @else {
    $colour: map-get(map-get($colours, $colourname), base);
    @return $colour;
  }
}
$black: colour(charcoal,800);
// -------------------------------------------------- */

@mixin gradient(){ background: linear-gradient(
    to bottom,
    transparentize($gradientcolour, 0.2409) 0%,
    transparentize($gradientcolour, 0.25086) 8.1%,
    transparentize($gradientcolour, 0.2855) 15.5%,
    transparentize($gradientcolour, 0.3271) 22.5%,
    transparentize($gradientcolour, 0.3807) 29%,
    transparentize($gradientcolour, 0.4437) 35.3%,
    transparentize($gradientcolour, 0.5134) 41.2%,
    transparentize($gradientcolour, 0.587) 47.1%,
    transparentize($gradientcolour, 0.662) 52.9%,
    transparentize($gradientcolour, 0.7357) 58.8%,
    transparentize($gradientcolour, 0.8053) 64.7%,
    transparentize($gradientcolour, 0.8683) 71%,
    transparentize($gradientcolour, 0.9219) 77.5%,
    transparentize($gradientcolour, 0.9635) 84.5%,
    transparentize($gradientcolour, 0.9904) 91.9%,
    transparentize($gradientcolour, 1) 100%
  );  }

$twitter: #1DA1F2;
$linkedin: #0077b5;
$instagram: #e1306c;
$email: colour(teal, 500);