---
layout: default
title: Home
pageclass: home

---
<section class="titlecontent">
        <div class="section_wrap">
        <div class="title_grid">   
        <div class="title_overlay">
        <h2 class="page_header">I'm Stacey! </h2>
        <p class="page_lead">I’m a Welsh digital designer and illustrator.</p>
        {% include /partials/socials.html %}
        <a class="button" href="mailto:hello@staceyjenkins.co.uk">Let's get in touch</a>
        <a class="secondarybutton" href="#portfolio">See design work&nbsp;<i class="fas fa-chevron-down"></i></a>
            </div>
        </div> 
        </div>
       </section>
    
    <section class="clients">
    <div class="section_wrap">  
      <p class="client_header">
    Working in-house and freelance, I've worked with the following clients:    
    </p>
    <div class="client_row">
                <ul class="client_list">
                {% for item in site.data.clients.clientlist %}
                    <li>
                    <div class="client">
                    <figure> 
                    <img src="{{site.baseurl}}/assets/img/clients/{{item.logo}}" alt="{{item.name}}" title="{{item.name}}"> 
                    </figure>   
                    </div>  
                    </li>
                {% endfor %}
            </ul>
            </div>    
    </div>
    </section>
    
     <section class="about" id="about">
         <div class="section_wrap">
          <h4 class="about_header">About Me</h4>
             <div class="about_row">
        <div class="profile-text">
          {% include /partials/_description.html %}
            </div>
        </div>
                 
        <div class="services">         
        <h5>How I can help you</h5>
        <ul class="service-items">
          <li class="design"> 
            <div class="icon">
                <figure><img src="{{site.url}}{{site.baseurl}}/assets/img/design.png" alt="Design"></figure>
                </div>
            <div class="service_caption">
            <h6> Design</h6>
            <p>I can create and develop a full branding solution, including logo design, full brand guidelines and supporting marketing materials.</p>
          </li>
          <li class="digital"> 
            <div class="icon">
                 <figure><img src="{{site.url}}{{site.baseurl}}/assets/img/digital.png" alt="Digital"></figure>
              </div>
              <div class="service_caption">
            <h6>Digital</h6>
            <p>I can design and develop a full functioning, small-scale website from start to finish with responsive design and search engine friendly content as standard.</p>
            </div>
          </li>
          <li class="illustration" style="opacity: 1;">
            <div class="icon"> <figure><img src="{{site.url}}{{site.baseurl}}/assets/img/illustration.png" alt="Illustration"></figure></div>
            <div class="service_caption">
            <h6>Illustration</h6>
            <p>When not designing or developing, I’m an experienced illustrator and cartoonist, both traditionally and digitally.</p>
         </div>
        </li>
        </ul>
      </div> 
      </div>     
      </div>
    </section>   


    <section class="portfolio" id="portfolio">
            {% include /partials/section_top.html %}
            <div class="section_content">   
            <div class="section_wrap" >   
        <h4 class="work_header">Featured Work</h4>
        <div class="card_row">
                <ul class="card_list">
                {% for item in site.workitems %}
                {% include /partials/workloop.html %}
                {% endfor %}
            </ul>
            </div>
            </div> 
        </div>
            {% include /partials/section_bottom.html %}
            </section>
    

   {% include /partials/latestposts.html %}