body.illo_home {
    
    main.site {overflow:auto !important;}
    
    $sidebar-width: 400px;

@mixin padding() {
  padding: 0 15px;
}

.siteWrapper {
    position:relative;
    display:block;
    @include padding;
    
 @include for-size(tablet-landscape-up){  
  width: 100%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  height:100%;
  min-height:100vh;
  margin-top: rhythm(4);
}
    }

.row {
    @include for-size(tablet-landscape-up){
  margin: 0 -15px;
    }
}

.sidebar {
    display: block;
    width:100%;
    @include for-size(tablet-landscape-up){
  width:$sidebar-width;
  min-height:100vh;
  max-width:400px;
  position:fixed;
  @include padding;
}
    }

.appWrapper {
    width:100%;
    position:relative;
    @include for-size(tablet-landscape-up){
   display:block;
  width: calc(100% - #{$sidebar-width});
  flex:1;
  height:100%;
  min-height:100vh;
  position:absolute;
  top:0;
  left: $sidebar-width;
  right:0;
  bottom:0;
}
  
  .app_innerwrapper {
        width:100%;
    position:relative;
      @include for-size(tablet-landscape-up){
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    width:100%;
    min-height:100vh;
    position:relative;
    align-items: stretch;
  }
    }
  
  .body_content {
    width:100%;
    position:relative;
    margin-bottom:rhythm(4);
      @include for-size(tablet-landscape-up){
     @include padding;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
       min-height: 100vh;
      }
  }
  
}
    
figure img {
        object-fit:cover;
        height:100%;
        width:100%;
    }    
    

.grid {
min-height:100vh;
max-width:1200px;
display:flex;
flex-direction:column;
flex-wrap:wrap;
    @include for-size(tablet-portrait-up){
        flex-direction:row;
    }
  
 .grid-col {flex:1;
 &.grid-col-2, &.grid-col-3 {display:none !important;}
     @include for-size(tablet-portrait-up){
         &.grid-col-2 {display:block !important;}
     }
          @include for-size(tablet-landscape-up){
         &.grid-col-3 {display:block !important;}
     }
    }
    
.grid-item {padding:rhythm(2) 15px;}
}
    
}