$grid-gap: $gutter;
$grid-width: 100% + #{$grid-gap};

body.home .blog{
    .list_of_posts {margin: 0 $grid-gap/2;}
}


body.blog {
    /* blog tweaks */
 .blog_row {
  width:100%;
}

 .blogpost_list {
    }
    
    .post {width:100%;
           display:flex;
           flex-direction:column;
           position:relative;
            padding: rhythm(4) 0;
            
             @include for-size(tablet-portrait-up){
                   flex-direction:row;
               }
    
    
            }
    
    .post {
        
        @include for-size(tablet-portrait-up){
            border-bottom:1px solid lighten(colour(charcoal, 100), 30%);
        }
        
           .post_image {
                 max-width:100%;
                 display:block;
                 height:auto;
                 overflow:hidden;
                 position:relative;
                 margin-top:0;
                margin-bottom: rhythm(4);
                margin-left:0;
                margin-right:0;
                 padding:0;
               
               @include for-size(tablet-portrait-up){
                   width:30%;
                   margin-top:0;
                   margin-bottom:0;
                   margin-right:15px;
               }
        .card_border {
              flex-shrink:0;
              display:none;
              position:relative;
              vertical-align:bottom;
              bottom:0;
              left:0;
              right:0;
              width:100%;
              height:100%;
              overflow:hidden;
        
        
         svg {width:100%;
    height:100%;
    vertical-align:bottom;
    display:block;
    position:relative;
    left:0;
    right:0;
    border:0;
    fill: #fff;
        }
        
        }
        
        figure {position:relative;
                display:block;
                overflow:hidden;
                width:100%;
                height:auto;
                z-index:0;
               padding: 64.383561659% 0 0 0;}
        figure img {
        display:block;
        max-height:100%;
        max-width:100%;
        position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
    }
    }
           .post_caption {flex-grow:1;
                          width: 100%;
                          position:relative;
                          overflow:hidden;
               @include for-size(tablet-portrait-up){
                   width: 70%;
               }
        
        }
        
        .post_caption {
            .post_header{text-align:left;
                         width:100%;}
        }
        
        
        
        
    }

}



body.blog, body.blogpost, body.error {
    .blogcontent {
        background:#fff url('../../assets/img/texture.png') repeat;
        border-radius: $grid-gap/2;
        overflow:hidden;
        position:relative;
    }
    .blog_structure{
        @include gridsupport(){
            display:grid;
            width:100%;
            grid-template-columns: repeat(8, 1fr);
            grid-row-gap: 1.75rem;
            margin:0;
            padding-top:15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        display:flex;
        flex-flow: column nowrap;
        margin:0 -15px;
        width: calc(100% + #{$grid-gap});
        
        
        @include for-size(tablet-portrait-up){
        @include gridsupport(){
         display:grid;
            grid-template-columns:minmax(1px, auto) 260px;
            grid-column-gap:30px;
            grid-row-gap: 1.75rem;
            margin: 0;
                        padding-top:15px;
            padding-left: 15px;
            padding-right: 15px;
        }
        flex-flow: row nowrap;   
        padding: 0;
        }
    }
    
    .blog_structure > * {
        @include gridsupport(){
            margin:0;
        }
        
        margin: 0 $grid-gap/2;
    }
    
    .post_area {
        @include gridsupport(){
        grid-column:1/-1;
        padding:0;
        }
        flex-grow:1;
        @include for-size(tablet-portrait-up){
        @include gridsupport(){
        grid-column:1/-1;
        }
        }
        @include for-size(blog_breakpoint){
        @include gridsupport(){
        grid-column:1/2;
        }
        }
    }
    
    .sidebar {
        @include gridsupport(){
            grid-column:1/-1;
            width:100%;
            padding:0;
        }
        display:block;
        @include for-size(tablet-portrait-up){
        @include gridsupport(){
        grid-column: 1/-1;
        width:100%;
        }
        width: 15.294117647rem;
    }
        @include for-size(blog_breakpoint){
        @include gridsupport(){
        grid-column: span 1;
        width:100%;
        }
        width: 15.294117647rem;
    }
        
        .instagram_gallery {
             @include gridsupport(){
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(123px, 1fr));
            grid-column-gap:4px;
            grid-row-gap: rhythm(4);
            margin-top:0;
            margin-left:0;
            margin-right: 0;
            }
            @include for-size(tablet-landscape-up){
            @include gridsupport(){
            display:grid;
            grid-template-columns:repeat(auto-fit, minmax(84px, 1fr));
            grid-column-gap:4px;
            grid-row-gap: rhythm(4);
            margin-top:0;
            margin-left:0;
            margin-right: 0;
            }
            }
            margin-bottom: rhythm(4);
            position:relative;
            display:flex;
            width:100%;
            margin-left:-2px;
            margin-right:-2px;
            margin-bottom: rhythm(4);
            flex-flow: row nowrap;   
            padding: 0;
        }
        
        .instagram_gallery a {
            display:block;
            position:relative;
            @include gridsupport(){
                width:100%;
                padding:0;
            }
            width:33%;
            margin: 0 2px;
        }
        
        .instagram_gallery a img {
            display:block;
            margin:0;
            float:none;
            max-width:100%;
            height:auto;
            position:relative;
        }
        
    }
    
    .post_area .list_of_posts {margin:0;
                               position:relative;
                               overflow:hidden;}
    
    ul.pagination_links {
        display:flex;
        flex-flow:row wrap;
    }
}

body.blogpost {
    
    .relatedposts ul.list_of_posts:empty {display:none;}
}

body.home .blog, body.blog, body.error {
    
    ul.tags, ul.share_links {display:flex;
    }

}


body.blogpost {
    
    .post_footer { border-top:1px solid colour(charcoal, 200);
             }
    
    .page_navigation, .relatedposts, .post_footer {border-bottom:1px solid colour(charcoal, 200);}
    
    .post_footer, .page_navigation {
          display:block;
          padding: $standardmeasure 0;
        
        @include for-size(tablet-portrait-up){
        display:flex;
         width: calc(100% + #{$gutter});
          margin-left: -$gutter/2;
          margin-right: -$gutter/2;
        }
    }
    
    .category_block, .share_block, .previous_page, .next_page{
     width:100%;
     margin-left:0;
    margin-right:0;
        
        @include for-size(tablet-portrait-up){
        margin: 0 $gutter/2 0 $gutter/2;
        width:50%;
        }
    }
    
    .previous_page, .next_page{
    background-color: lighten(colour(charcoal, 100), 40%);
    padding: calc(1.76rem/2);
        .navigation_heading {width:100%;
                             clear:both;}
    }
    
    .previous_page {
            margin-bottom:$standardmeasure;
        
        @include for-size(tablet-portrait-up){
        
            margin-bottom:0;
        }
    }
    
    .single_post{margin-top: 1.75rem;}
}


body.blogpost {
    .share_links, .tags {width:100%; display:inline-flex; flex-flow:row nowrap; text-align:left;} 
}
    

aside.sidebar {
    ul.category li, ul.latestposts li {
        display:block;
        border-bottom:1px solid lighten(colour(charcoal, 100), 30%);}
    
    ul.category li a {
        display:inline-flex;
        width:100%;
    }
    
    ul.category li a .post_count {
        align-self:flex-end;
    }
    
     ul.category li a strong {
        flex-grow: 1;
    }
    
    ul.latestposts li p {
        TEXT-ALIGN:CENTER;
        margin-bottom:0;
    }
    ul.latestposts li p a, ul.latestposts li p a:visited {
        border-bottom:0;
    }
    
     ul.latestposts p.post_time {
        margin-top:0;
        margin-bottom: rhythm(2);
    }
}

body.hide {
        li.post {
        @include gridsupport(){
        display:grid;
        grid-template-columns: repeat(8, 1fr);
        grid-row-gap: 1.75rem;
        margin: 0 0 1.75rem 0;
        position:relative;
        width:100%;
        }
        display:flex;
        flex-flow: column nowrap;
        margin:0 -15px;
        width: calc(100% + #{$grid-gap});
        
        
        @include for-size(tablet-portrait-up){
            @include gridsupport(){
            display:grid;
            grid-template-columns: 21.941176471rem minmax(1px,auto);
            grid-column-gap:30px;
            grid-row-gap: 1.75rem;
            margin:1.75rem 0;
            padding:0;
            position:relative;
            width:100%;
            }    
        flex-flow: row nowrap;   
        }
    }
    
    
    li.post {
        .post_image, .post_caption {
            @include gridsupport(){
                margin:0;
            }
            margin: 0 $grid-gap/2;}
       
        .post_image {
            @include gridsupport(){
            width:100%;
            grid-column:1/-1;
            }
            width:100%;
            @include for-size(tablet-portrait-up){
            @include gridsupport()
                    {width:100%;
                    grid-column:1/2;}
            width:100%;
            }
            @include for-size(blog_breakpoint){
                    width:21.941176471rem;
            }
            background-color: colour(blue, 500);
            }
        
        .post_image .image_container {display: block;
                            width: 100%;
                            height: auto;
                            position: relative;
                            overflow: hidden;
                            padding: 49.373881928% 0 0 0;
            @include for-size(blog_breakpoint){
                padding: 72.316384181% 0 0 0;/* 34.37% = 100 / (w / h) = 100 / (640 / 220) */}
        }
        .post_image .image_container img {display: block;
                                max-width: 100%;
                                max-height: 100%;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;}
        .post_caption {
            @include gridsupport(){
                grid-column:1/-1;
                width:100%;
            }
            width:100%;
             @include for-size(tablet-portrait-up){
            @include gridsupport()
                    {width:100%;
                    grid-column:span 1;}
            width:100%;
            }
            @include for-size(blog_breakpoint){
            flex-grow:1;
            }
    }
}
}