<!--
                        ,***************************.                          
                      ***********************************                       
                      ***********************************                       
                      .**                             ***                       
                        ***                         ***                         
                                  .,,,***,,,.                                   
                ***                               *******     ***               
           ********,   ,*********            **,        .*   ,********          
            ********   *************   ****              *   ********           
       ,*************  ***************                  ,*  *************,      
                   ,*   *,  .*,                         *   *,                  
                        **                             **                       
               ****.     **                            *     .****              
             *********   **                           **   *********            
             **********   **                          *   **********            
              **********  .*                         **  **********             
                *********  **                        *  *********               
                  *******,  *.                      ** ,*******                 
                    ******  **                     ,*  ******                   
                       ***.  **                   **, .***                      
                          *     ****************,     *   

Hello! If you're curious how I built this site, please feel free to email me at hello@staceyjenkins.co.uk!
-->


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {% if page.title == 'Home' %}{{site.title}}{% else %}{{page.title}} - {{site.title}}{% endif %}
        </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="preload" as="style" href="{{site.url}}{{site.baseurl}}/assets/css/fonts.css">-->
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/styles.css">
    <script data-main="{{site.url}}{{site.baseurl}}/assets/scripts/config" src="{{site.url}}{{site.baseurl}}/assets/scripts/lib/require.js"></script>
    
    <!--  Essential META Tags -->

    <meta property="og:title" content="{% if page.title == 'Home' %}{{site.title}}{% else %}{{page.title}} - {{site.title}}{% endif %}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <!-- Testing Twitter Cards -->  
    <meta property="og:image" content="
     {% if page.title == 'Home' %}
         {{site.url}}{{site.baseurl}}/assets/img/header/header_top_characters.png 
         {% else %}
            {% if page.thumb %}
                    {% if page.thumb contains 'uploads' %}
                            {{site.url}}{{site.baseurl}}/{{page.thumb}}
                            {% else %}      
                            {{site.url}}{{site.baseurl}}/assets/img/{{page.thumb}}
                      {% endif %}
             {% else %}
                      {{site.url}}{{site.baseurl}}/assets/img/blog_default.png      
             {% endif %}
             {% endif %}">
    <meta property="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
    <meta name="twitter:card" content="summary_large_image">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="{{site.title}}">
<meta name="twitter:image:alt" content="{{site.imgalt}}">

<!--  Non-Essential, But Required for Analytics -->
<meta name="twitter:site" content="@froginajar">
<meta name="twitter:creator" content="@froginajar" />

    <!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}{{site.baseurl}}/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}{{site.baseurl}}/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}{{site.baseurl}}/assets/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet"> 
    
{% include _heap.html %}
 </head>
