 <section class="heroarea">
     <div class="hero_content">
        <div class="hero_overlay"></div>
         <div class="hero_banner">
             <div class="hero_top">
                 <img class="heroimage characters" width="3840" height="1341" src="{{site.url}}{{site.baseurl}}/assets/img/header/header_top_characters.png">
                  <img class="heroimage landscape" width="3840" height="1341" src="{{site.url}}{{site.baseurl}}/assets/img/header/header_top_landscape.png">
             </div>
             <div class="hero_stroke">
             <svg viewbox="0 0 3841 360">  
                <defs>
                <mask class="mask" id="paintstroke">
            <image xlink:href="{{site.url}}{{site.baseurl}}/assets/img/header/mask_scaled.png" width="100%" height="100%"/>  
            </mask>
            </defs>     
            <image class="characters" mask="url(#paintstroke)" xlink:href="{{site.url}}{{site.baseurl}}/assets/img/header/header_bot_characters.png" width="100%" height="100%"/>  
            <image class="landscape" mask="url(#paintstroke)" xlink:href="{{site.url}}{{site.baseurl}}/assets/img/header/header_bot_landscape.png" width="100%" height="100%"/>  
        </svg>    
      </div> 
     </div>
         </div>
</section>