<aside class="sidebar">
<h3>About Me</h3>
    {% include /partials/_description.html %}
    {% include /partials/socials.html %}

<h3>Instagram</h3>
<div id="loadInstagram" class="instagram_feed">
    <p>Loading Instagram...</p>
</div>
    
<h3>Latest Posts</h3>
    <ul class="latestposts">
     {% for post in site.posts limit:3 %}
     <li>
    <p><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></p>
     <p class="post_time"><time datetime="{{post.date}}">{% assign day = post.date | date: "%-d"  %}
{% case day %}
  {% when '1' or '21' or '31' %}{{ day }}st
  {% when '2' or '22' %}{{ day }}nd
  {% when '3' or '23' %}{{ day }}rd
  {% else %}{{ day }}th
{% endcase %}
{{ post.date | date: "%B, %Y" }}</time></p> 
     </li>
    
    {% endfor %}
        </ul>

<h3>Categories</h3>              
<ul class="category">
{% assign tags_list = site.categories %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
      <li><a href="{{site.url}}{{site.baseurl}}/blog/category/{{tag}}"  title="{{ tag | capitalize }}"><strong>{{ tag | capitalize }}</strong> <span class="post_count">{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
      <li><a href="{{site.url}}{{site.baseurl}}/blog/category/{{tag[0]}}"  title="{{tag[0] | capitalize }}"><strong>{{ tag[0] | capitalize }}</strong> <span class="post_count">{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
{% assign tags_list = nil %}
</ul>
    
    
</aside>