---
layout: blog
title: Blog
pageclass: blog
thumb: header/header_top_characters.png
description: Sketches, design discussions and all round creative stuff from the blog of digital designer and illustrator Stacey Jenkins
---

<div class="card_row">
 <ul class="card_list">
                    {% for post in paginator.posts %}
                    <li class="card_article">
                        <div class="card">
                         <div class="card_image">
                        {% include /partials/card_border.html %}
                        <figure class="image_container">
                        <a href="{{site.url}}{{site.baseurl}}{{post.url}}">
                        {% if post.thumb %}
                            {% if post.thumb contains 'uploads' %}
                            <img src="{{site.url}}{{site.baseurl}}/{{post.thumb}}" alt="{{post.title}}">
                            {% else %}
                            <img src="{{post.thumb}}" alt="{{post.title}}"/>
                        {% endif %}
                        {% else %}    
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/blog_default.png" alt="{{post.title}}"/> 
                        {% endif %}
                        </a>
                        </figure>
                        </div>    
                        <div class="card_caption">
                        <header class="post_header">
                        <h3 class="card_title"><a href="{{site.url}}{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
                        <p class="post_time"><time datetime="{{post.date}}">{% assign day = post.date | date: "%-d"  %}
{% case day %}
  {% when '1' or '21' or '31' %}{{ day }}st
  {% when '2' or '22' %}{{ day }}nd
  {% when '3' or '23' %}{{ day }}rd
  {% else %}{{ day }}th
{% endcase %}
{{ post.date | date: "%B, %Y" }}</time></p> 
                    </header>
                        <footer class="post_footer">
                        <a class="post_permalink button" href="{{site.baseurl}}{{post.url}}">Read more</a>
                        </footer>
                        </div>
                        </div>
                    </li>
                    {% endfor %}   
                    </ul>
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
    <ul class="pagination_links">
  {% if paginator.previous_page %}
    <li>    
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <div class="page_nav">&laquo; Prev</div>
    </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    <li>  
    {% if page == paginator.page %}
      <div class="current">{{ page }}</div>
    {% elsif page == 1 %}
      <a href="/blog/">{{ page }}</a>
    {% else %}
      <a href="{{site.url}}{{site.baseurl}}{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
        </li>  
  {% endfor %}

  {% if paginator.next_page %}
    <li>   
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <div class="page_nav">Next &raquo;</div>
    </li>     
  {% endif %}
   </ul>    
</div>
{% endif %}

    